/*reset css*/
@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700|Noto+Sans:400,700");

body {
  font-family: 'Noto Sans', 'Open Sans', 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft Yahei', sans-serif;
  color: #464646;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  margin-top: 50px;
  margin-bottom: 50px;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}*/

/*! Main styles here */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  /*background-color: #fff;*/
  box-shadow: 0 0 20px rgba(41, 41, 41, .15);
}
.nav-bar {
  overflow: hidden;
  padding: 0 24px;
}
.logo {
  float: left;
  height: 60px;
  padding-top: 5px;
  box-sizing: border-box;
}
.logo a {
  display: block;
  width: 150px;
  height: 50px;
}
.logo img {
  width: 100%;
}
.logo-small {
  display: none;
  float: left;
}
.logo-small a {
  display: block;
  height: 50px;
  width: 50px;
}
.logo-small img {
  width: 100%;
  height: 100%;
}
.search {
  position: relative;
  float: right;
  margin-right: 15px;
}
.search .form-control {
  margin-top: 12px;
  font-size: 13px;
  color: #626773;
  padding-left: 20px;
  padding-right: 40px;
  background: transparent;
  border: 1px solid rgba(122, 125, 132, 0.15);
  box-shadow: none;
  border-radius: 30px;
  height: 36px;
  font-weight: 100;
  width: 180px;
}
.search .form-control:focus {
  border-color: #cccccc;
  background-color: #fcfcfc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-btn {
  position: absolute;
  bottom: 4px;
  right: 10px;
  color: #7a7d84;
}
.search-btn i {
  font-size: 18px;
}
.nav-tab {
  height: 40px;
  padding: 0 24px;
  background-color: #fff;
  overflow: hidden;
}
.nav-tab ul li {
  display: inline-block;
  margin-right: 24px;
}
.nav-tab ul li.active {
  border-bottom: 2px solid #f73057;
}
.nav-tab ul li.active a {
  color: #f73057;
}
.nav-tab ul li:last-child {
  margin-right: 0;
}
.nav-tab ul li a {
  display: inline-block;
  line-height: 38px;
  height: 38px;
  font-weight: 600;
  font-family: /*'proxima nova', */'Noto Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #666;
  text-decoration: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.nav-tab ul li a:hover {
  color: #f73057;
}
.nav-container nav {
  float: right;
}
nav ul {
  height: 60px;
}
nav ul li {
  display: inline-block;
}
nav ul li:last-child {
  margin-right: -10px;
}
nav ul li a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  padding: 0 16px;
  white-space: nowrap;
  font-weight: 100;
  color: #484848;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
nav ul li a:hover, nav ul li a:active {
  text-decoration: none;
  color: #f73057;
}
.avatar {
  background-color: #F2F2F2;
  box-shadow: 0 0 0 1px #DBDBDB;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-top: -4px;
  line-height: 1;
}
.menu-btn {
  float: right;
  height: 50px;
  width: 50px;
  margin-right: -10px;
}
.menu-btn a {
  display: block;
  color: #666;
}
.menu-btn a i {
  padding: 13px;
  font-size: 20px;
}
.block-tab .block-list.active {
  display: block;
}
.block-tab .block-list {
  display: none;
}
.main-container {
  padding: 100px 0 0;
  overflow: hidden;
}
.slide-content {
  border-bottom: 1px solid #ebebeb;
}
.card-content {
  padding: 50px 0;/*  background-color: #fafafa;*/
}
.swiper-title {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 24px;
  font-size: 26px;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.swiper-title h1 {
  font-weight: 600;
  margin: 0;
  font-size: 34px;
}
.swiper-padding {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.swiper-container {
  width: 100%;
  height: 100%;    /*overflow-x: hidden;*/
}
.swiper-slide {
  width: 20%;
  padding-left: 8px;
  padding-right: 8px;
  background: #fff;
  display: inline-block;
}
.swiper-prev, .swiper-next {
  position: absolute;
  top: 44%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  padding-top: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  z-index: 499;
  border: 1px solid #ececec;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
}
.swiper-prev {
  left: 8px;
}
.swiper-next {
  right: 8px;
}
.swiper-next i, .swiper-prev i {
  color: #252525;
}
.swiper-next:not(.active) {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  -webkit-transform: translate3d(20px, 0, 0);  /*pointer-events: none;*/
}

/*.swiper-next.active:hover {
  transform: translate3d(5px, 0, 0);
  -webkit-transform: translate3d(5px, 0, 0);
}*/
.swiper-prev:not(.active) {
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
  -webkit-transform: translate3d(-20px, 0, 0);  /*pointer-events: none;*/
}

/*.swiper-prev.active:hover {
  transform: translate3d(-5px, 0, 0);
  -webkit-transform: translate3d(-5px, 0, 0);
}*/
.activity-imgwrapper {
  padding-top: 136%;
  position: relative;
  width: 100%
}
.activity-imgwrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.activity-imgwrap a {
  display: block;
  width: 100%;
  height: 100%
}
.activity-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.activity-text {
  margin-top: 8px;
  margin-bottom: 5px;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.activity-price, .activity-title {
  font-weight: 600;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.activity-title {
  margin-left: 4px;
  font-weight: 300;
}
.activity-time {
  font-size: 12px;
  color: #484848;
  width: 100%;
  display: table-row;
}
.activity-time span {
  width: 100%;
  text-align: left;
  display: table-cell;
}
.activity-time .love-btn {
  width: 20px;
  text-align: right;
  display: table-cell;
}
.love-btn i {
  font-size: 20px;
  vertical-align: middle;
  padding-bottom: 4px;
  color: #999;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.activity-time .love-btn:hover i{
  color: #f73057;
}
.love-btn.active i:before{
  content: "\F2D1";
  color: #f73057;
}

.card {
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.card:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}
.card-top {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}
.card-user {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 10px;
}
.card-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.card-avatar img {
  max-width: 100%;
  min-height: 40px;
  border-radius: 50%;
}
.card-username {
  display: inline-block;
  margin-left: 10px;
}
.card-username span {
  font-size: 16px;
  font-weight: 600;
  color: #484848;
}
.card-time {
  float: right;
  padding-right: 15px;
  margin-top: 10px;
  color: #6b6b6b;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.card-img {
  width: 100%;
}
.card-img a {
  display: block;
}
.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-info {
  padding: 15px 15px 10px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-title {
  font-weight: 600;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.card-sketch {
  margin-top: 10px;
  font-size: 15px;
}
.card-type {
  padding: 8px 15px 20px;
}
.card-type a {
  display: inline-block;
  color: #484848;
}
.card-type span {
  margin: 5px;
  font-size: 13px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #eaeaea;
}
.card-type span:first-child {
  margin-left: 0;
}
.card-bottom {
  padding: 12px;
  border-top: 1px solid #ececec;
}
.card-bottom ul {
  padding: 10px 0 0;
  display: inline-block;
}
.card-bottom ul li {
  display: inline-block;
  margin-right: 15px;
}
.card-bottom ul li a {
  color: #999;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.card-bottom ul li a.clicked {
  color: #f73057;
}
.card-bottom ul li a:hover {
  color: #f73057;
}
.card-bottom ul li i {
  font-size: 18px;
  margin-right: 5px;
}
.card-bottom ul li span {
  font-weight: 700;
  position: relative;
  bottom: 2px;
}
.card-chat {
  float: right;
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #f73057;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.card-chat:hover {
  background-color: #e0254a;
  color: #fff;
  text-decoration: none;
}
.footer-container {
  padding: 50px 24px;
  background-color: #fafafa;
}
.foot-nav {
  display: inline-block;
}
.foot-nav li {
  display: inline-block;
}
.foot-nav li:not(:last-child) {
  margin-right: 15px;
}
.foot-nav li a {
  color: #666;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.foot-nav li a:hover {
  color: #f73057;
}
.foot-nav li a span {
  display: inline-block;
  letter-spacing: 1px;
  margin-right: -1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 2;
}
.social-list {
  height: 50px;
  text-align: right;
}
.social-list li {
  line-height: 50px;
  opacity: .6;
  display: inline-block;
}
.social-list li:last-child {
  margin-right: 0;
}
.social-list li {
  margin-right: 15px;
  font-size: 20px;
}
.social-list li a {
  color: #666;
}
.copyright {
  opacity: .5;
  line-height: 2;
}

/*移动端侧边栏*/
#side-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
  transform: translateX(320px);
  bottom: 0;
  width: 300px;
  padding: 40px 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(41, 41, 41, 0.15);
  -moz-box-shadow: 0 0 20px 0 rgba(41, 41, 41, 0.15);
  -ms-box-shadow: 0 0 20px 0 rgba(41, 41, 41, 0.15);
  box-shadow: 0 0 20px 0 rgba(41, 41, 41, 0.15);
}
#side-overlay.side-awake {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#side-overlay .side-overlay-close {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 999;
}
#side-overlay .side-overlay-close i {
  font-size: 24px;
  color: #666;
  padding: 13px;
}
#side-overlay .side-overlay-close:hover, #side-overlay .side-overlay-close:focus, #side-overlay .side-overlay-close:active {
  outline: none;
  text-decoration: none;
}
.side-overlay-menu {
  display: none;
}
.side-menu {
  margin-top: 20px;
}
.side-menu li a {
  display: block;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  color: #666;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.side-menu li a:active {
  color: #f73057;
}
.side-menu-line {
  margin: 10px 0;
  border-top: 1px solid #ececec;
}

/* popup */

.img-replace {
    /* replace text with an img */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 999;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 40px 40px 50px;
    margin: 4em auto;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0 5px 30px rgba(36, 60, 90, 0.7);
            box-shadow: 0 5px 30px rgba(36, 60, 90, 0.7);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);  /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 14px;
    width: 14px;
    height: 2px;
    background-color: #2d2c2c;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.cd-popup-container p{
    padding: 0 46px 20px;
    line-height: 20px;
    color: #666;
}

@media only screen and (min-width:1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}

.sub_box{
    padding: 0 50px;
    margin-bottom: 25px;
}
.inputbox{
    width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100%;
}
.inputbox input{
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    height: 42px;
    padding: 10px 15px;
    background-color: #fff;
    outline: none;
    color: #333641;
    font-size: 14px;
    vertical-align: middle;
		border: 1px solid rgba(122, 125, 132, 0.15);
    border-radius: 21px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.inputbox input:focus{
    border-color: #cccccc;
    border-color: #cccccc;
    background-color: #fcfcfc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sub_btn.btn{
	width: 100%;
	color: #fff;
	height: 42px;
	font-weight: 600;
	outline: none;
	border: none;
	padding: 10px 15px;
	border-radius: 21px;
	font-size: 14px;
	background-color: #f73057;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
}
.sub_btn:hover{
	color: #fff;
	background-color: #e0254a;
}
.sub_btn.btn:active{
	outline: none;
	border: none;
}
.login-tips{
	display: inline-block;
	line-height: 2;
}






@media (min-width:1284px) {
  .swiper-slide {
    width: 16.666666666666668%;
  }
}
@media (min-width:1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width:1283px) and (min-width:1078px) {
  .swiper-slide {
    width: 20%;
  }
}
@media (max-width:1077px) and (min-width:872px) {
  .swiper-slide {
    width: 25%;
  }
}
@media (max-width:1077px) {
  .swiper-padding {
    padding-left: 0;
    padding-right: 0;
    margin-left: -8px;
  }
  .swiper-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .swiper-title {
    padding-left: 24px;
  }
}
@media (max-width:871px) and (min-width:666px) {
  .swiper-slide {
    width: 33.333333333333333%;
  }
}
@media (max-width:768px) {
  .nav-container {
    height: 90px;
  }
  .nav-bar, .nav-tab {
    padding: 0 15px;
  }
  .main-container {
    padding-top: 90px;
    background-color: whitesmoke;
  }
  section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .swiper-padding .swiper-title {
    padding-left: 24px;
  }
  .swiper-title {
    padding-left: 0;
  }
  .card-content {
    padding: 30px 0;
  }
  .side-overlay-menu {
    display: block;
  }
  .search {
    float: left;
    margin: 7px 0 0 12px;
  }
  .search .form-control {
    margin-top: 0;
  }
  nav {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .user, .creat-listing {
    display: none;
  }
  .text-center-xs {
    text-align: center;
  }
  .swiper-title h1 {
    font-size: 30px;
  }
}
@media (max-width:665px) {
  .swiper-slide {
    width: 50%;
  }
  #side-overlay {
    -webkit-transform: translateX(74vw);
    -moz-transform: translateX(74vw);
    -ms-transform: translateX(74vw);
    -o-transform: translateX(74vw);
    transform: translateX(74vw);
    width: 68vw;
  }
}
@media (-webkit-min-device-pixel-ratio:2) {
  .swiper-prev, .swiper-next {
    display: none;
  }
}
